<div class="table-responsive mt-3">
                <table class="table table-bordered table-sm report-1">
                    <thead>
                    <tr>
                        <th class="table-head-item" rowspan="2" scope="col">Родитель</th>
                        <th class="table-head-item" rowspan="2" scope="col">ИНН</th>
                        <th class="table-head-item" rowspan="2" scope="col">Наименование</th>
                        <th class="table-head-item" rowspan="2" scope="col">Контактное лицо</th>
                        <th class="table-head-item" rowspan="2" scope="col">Телефон</th>
                        <th class="table-head-item" rowspan="2" scope="col">Сегмент</th>
                        <th class="table-head-item" rowspan="2" scope="col">Результат</th>
                        <th class="table-head-item" rowspan="2" scope="col">Подъемники</th>
                        <th class="table-head-item" rowspan="2" scope="col">Парк техники</th>
                        <th class="table-head-item" rowspan="2" scope="col">Количество</th>
                        <th class="table-head-item text-center" colspan="9" scope="col">Объем потребления масел</th>
                        <th class="table-head-item" rowspan="2" scope="col">Общее потребления масел</th>
                        <th class="table-head-item" rowspan="2" scope="col">Разница</th>
                        <th class="table-head-item" rowspan="2" scope="col">Действующий</th>
                        <th class="table-head-item" rowspan="2" scope="col">Категория клиента начальная</th>
                        <th class="table-head-item" rowspan="2" scope="col">Категория клиента действующая</th>
                        <th class="table-head-item" rowspan="2" scope="col">Потенциал</th>
                        <th class="table-head-item" rowspan="2" scope="col">Частота заказа</th>
                    </tr>
                    <tr id="oil_volume">
                        <th class="table-head-item" scope="col">Лукойл</th>
                        <th class="table-head-item" scope="col">Гост</th>
                        <th class="table-head-item" scope="col">Фирма</th>
                        <th class="table-head-item" scope="col">Фирма+</th>
                        <th class="table-head-item" scope="col">Другое</th>
                        <th class="table-head-item" scope="col">Motul</th>
                        <th class="table-head-item" scope="col">Zic</th>
                        <th class="table-head-item" scope="col">Castrol</th>
                        <th class="table-head-item" scope="col">Vitex</th>
                    </tr>
                    </thead>
                    <tbody id="values">
                    <tr>
                        <td id="author">author</td>   {# Родитель #}
                        <td id="inn">inn</td>   {# ИНН #}
                        <td id="name">name</td> {# Наименование #}
                        <td id="contact">contact</td>   {# Контактное лицо #}
                        <td>text</td>   {# Телефон #}
                        <td>text</td>   {# Сегмент #}
                        <td>1,001</td>  {# Результат #}
                        <td>random</td> {# Подъемники #}
                        <td>data</td> {# Парк техники #}
                        <td>placeholder</td> {# Количество #}
                        <td>text</td> {# Объем потребления масел #}
{#                        -------------------------------------------------#}
                        <td>text</td> {# Общее потребления масел #}
                        <td>1,001</td>   {# Разница #}
                        <td>random</td>   {# Действующий #}
                        <td>data</td> {# Категория клиента начальная #}
                        <td>placeholder</td>   {# Категория клиента действующая #}
                        <td>text</td>   {# Потенциал #}
                        <td>text</td>   {# Частота заказа #}
                        <td>text</td> {# Объем потребления масел #}
{#                        -------------------------------------------------------#}
                        <td>test</td> {# Общее потребления масел #}
                        <td>test1</td>   {# Разница #}
                        <td>random</td>   {# Действующий #}
                        <td>data</td> {# Категория клиента начальная #}
                        <td>placeholder</td>   {# Категория клиента действующая #}
                        <td>text</td>   {# Потенциал #}
                        <td>text</td>   {# Частота заказа #}
                    </tr>
                    </tbody>
                </table>
            </div>