<div class="table-responsive mt-3 report-1-div">
    <div id="head-load" style="height: 25px"></div>
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="footer-load" style="height: 25px"></div>
    <table class="table table-sm report-1"></table>
</div>