<div class="table-responsive mt-3 report-1-div">
        <div class="loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
                <table class="table table-sm report-1">
                    <thead>
                    <tr>
                        <th class="table-head-item" rowspan="2" scope="col">Родитель</th>
                        <th class="table-head-item" rowspan="2" scope="col">ИНН</th>
                        <th class="table-head-item" rowspan="2" scope="col">Наименование</th>
                        <th class="table-head-item" rowspan="2" scope="col">Контактное лицо</th>
                        <th class="table-head-item" rowspan="2" scope="col">Телефон</th>
                        <th class="table-head-item" rowspan="2" scope="col">Сегмент</th>
                        <th class="table-head-item" rowspan="2" scope="col">Результат</th>
                        <th class="table-head-item" rowspan="2" scope="col">Подъемники</th>
                        <th class="table-head-item" rowspan="2" scope="col">Парк техники</th>
                        <th class="table-head-item" rowspan="2" scope="col">Количество</th>
                        <th class="table-head-item text-center" colspan="9" scope="col">Объем потребления масел</th>
                        <th class="table-head-item" rowspan="2" scope="col">Общее потребления масел</th>
                        <th class="table-head-item" rowspan="2" scope="col">Разница</th>
                        <th class="table-head-item" rowspan="2" scope="col">Действующий</th>
                        <th class="table-head-item" rowspan="2" scope="col">Категория клиента начальная</th>
                        <th class="table-head-item" rowspan="2" scope="col">Категория клиента действующая</th>
                        <th class="table-head-item" rowspan="2" scope="col">Потенциал</th>
                        <th class="table-head-item" rowspan="2" scope="col">Частота заказа</th>
                    </tr>
                    <tr id="oil_volume">
                        <th class="table-head-item" scope="col">Лукойл</th>
                        <th class="table-head-item" scope="col">Гост</th>
                        <th class="table-head-item" scope="col">Фирма</th>
                        <th class="table-head-item" scope="col">Фирма+</th>
                        <th class="table-head-item" scope="col">Другое</th>
                        <th class="table-head-item" scope="col">Motul</th>
                        <th class="table-head-item" scope="col">Zic</th>
                        <th class="table-head-item" scope="col">Castrol</th>
                        <th class="table-head-item" scope="col">Vitex</th>
                    </tr>
                    </thead>
                    <tbody id="values">
                    <tr>
                        <td rowspan="4" id="author"><span>author</span></td>
                        <td rowspan="4" id="inn">inn</td>
                        <td rowspan="4" id="name">name</td>
                        <td rowspan="4" id="contact">contact</td>
                        <td rowspan="4" id="phone">text</td>
                        <td rowspan="4" id="category">text</td>
                        <td rowspan="4" id="result">1,001</td>
                        <td rowspan="4" id="elevators">random</td>
                        <td id="equipments">Парк техники 1</td>
                        <td id="eq_value">10</td>
                        <td rowspan="4">Volume</td>
{#                        -------------------------------------------------#}
                        <td rowspan="4">text</td>
                        <td rowspan="4">1,001</td>
                        <td rowspan="4">random</td>
                        <td rowspan="4">data</td>
                        <td rowspan="4">placeholder</td>
                        <td rowspan="4">text</td>
                        <td rowspan="4">text</td>
                        <td rowspan="4">text</td>
{#                        -------------------------------------------------------#}
                        <td rowspan="4">test</td>
                        <td rowspan="4">test1</td>
                        <td rowspan="4">random</td>
                        <td rowspan="4">data</td>
                        <td rowspan="4">placeholder</td>
                        <td rowspan="4">text</td>
                        <td rowspan="4">text</td>
                    </tr>
{#                             if equipments #}
                    <tr id="equipment">
                        <td>Парк техники 1</td>
                        <td>10</td>
                    </tr>
                    <tr id="equipment">
                        <td>Парк техники 1</td>
                        <td>10</td>
                    </tr>
                    <tr id="equipment">
                        <td>Парк техники 1</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td id="author">author</td>
                        <td id="inn">inn</td>
                        <td id="name">name</td>
                        <td id="contact">contact</td>
                        <td id="phone">text</td>
                        <td id="category">text</td>
                        <td id="result">1,001</td>
                        <td id="elevators">random</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td>text</td>
{#                        -------------------------------------------------#}
                        <td>text</td>
                        <td>1,001</td>
                        <td>random</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td>text</td>
                        <td>text</td>
                        <td>text</td>
{#                        -------------------------------------------------------#}
                        <td>test</td>
                        <td>test1</td>
                        <td>random</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td>text</td>
                        <td>text</td>
                    </tr>
                    </tbody>
                </table>
            </div>