{% extends 'census/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/census/style.css' %}">
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/census/clean_address.js' %}"></script>
{% endblock %}
{% block content %}

    {% include 'census/utils/checkbox.html' %}

    {% include 'census/utils/clean_address.html' %}

    {% include 'census/utils/inn_not_req.html' %}

    {% include 'census/utils/board.html' %}

    <p class="text-center" style="margin-top: 41px ">Сведения о торговой точке</p>

    {#        Точка является сетью? -----------------------#}
    {% include 'census/b2c/nets.html' %}
    {#        Категория точки? -----------------------#}
    {% include 'census/b2c/category.html' %}
    {#        Тип торговой точки? -----------------------#}
    {% include 'census/b2c/type.html' %}
        {#        Тип СТО? -----------------------#}
    {% include 'census/b2c/sto_type.html' %}

            {#    Количество подъемников#}
    {% include 'census/b2c/elevators.html' %}

    <p class="text-center" style="margin-top: 41px ">Сведения о потребляемых продуктах</p>

    {% include 'census/utils/products.html' %}

    {% include 'census/b2c/volumes.html' %}

    {% include 'census/b2c/akb.html' %}

    {% include 'census/utils/contact_person.html' %}

    {% include 'census/b2c/cars.html' %}

    {% include 'census/utils/providers.html' %}

    {% include 'census/utils/other_provider.html' %}

{% endblock %}