{% extends 'analytics/base.html' %}
{% load static %}
{% block styles %}
    #buttons {
        position: absolute;
        top: 50%;
        left: 50%;
    }
{% endblock %}
{% block defer_js %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            createTable(document.querySelector('.table'));
        });
    </script>
{% endblock %}
{% block content %}


<table class="table table-striped">
    <div class="d-flex justify-content-between align-items-center m-3" id="main">
{#        <div class="buttons" id="buttons">#}
{#            <button class="btn btn-outline-secondary me-1" id="b2c">B2C</button>#}
{#            <button class="btn btn-outline-secondary me-1" id="b2b">B2B</button>#}
{#            <button class="btn btn-outline-secondary me-1" id="Industrial">Industrial</button>#}
{#        </div>#}
        <div class="m-3" id="filters"></div>
        <div class="d-flex align-items-center justify-content-center">
{#            <div class="m-3">#}
{#                <a href="#" title="скачать в excel">#}
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                     class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">#}
{#                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64"/>#}
{#                </svg></a>#}
{##}
{#            </div>#}
            <p class="text-secondary" id="update">Обновлено: {last_update_date}</p></div>
    </div>
</table>

{% endblock %}
{% block scripts %}
    <script>
        let csrf = "{{ csrf_token }}"
        let report_2_url = "{% url 'get_report_2' %}"
        let table_column_list = [
            {'id': 'department', 'name': 'Подразделение', 'filter': true},
            {'id': 'author', 'name': 'Инициатор', 'filter': true},
            {'id': 'addresses', 'name': 'Точек в базе', filter: false},
            {'id': 'worker', 'name': 'Исполнитель', 'filter': true},
            {'id': 'tasks', 'name': 'Количество задач', 'filter': false},
            {'id': 'ready_task', 'name': 'Выполнено задач', 'filter': false},
            {'id': 'active_task', 'name': 'В работе', 'filter': false},
            {'id': 'active_clients', 'name': 'Действующие торговые точки', 'filter': false},
            {'id': 'potential_clients', 'name': 'Потенциальные торговые точки', 'filter': false},
            {'id': 'contract', 'name': 'Договор', 'filter': false},
            {'id': 'amount_sum', 'name': 'Сумма отгрузки', 'filter': false},
        ]
        let depart = '{{ depart }}'
        let user_id = "{{ user.pk }}"
    </script>
    <script src="{% static 'js/analytics/main.js' %}"></script>
    <script src="{% static 'js/analytics/report_2.js' %}"></script>
{% endblock %}