{% extends 'analytics/base.html' %}
{% load static %}
{% block styles %}
    {% if depart.name == 'director' %}
        <style>
            #buttons {
                position: absolute;
                top: 50%;
                left: 50%;
            }
        </style>
    {% endif %}
        <link rel="stylesheet" href="{% static 'css/analytics/loader.css' %}">
{% endblock %}
{% block defer_js %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            createTable(document.querySelector('.table'));
        });
    </script>
{% endblock %}
{% block content %}

<table class="table table-striped">
    <div class="d-flex justify-content-between align-items-center m-3" id="main">
        <div class="d-flex align-items-center justify-content-center">
        </div>
    </div>
        {% include 'analytics/loader.html' %}
</table>

{% endblock %}
{% block scripts %}
    <script>
        let csrf = "{{ csrf_token }}"
        let report_2_url = "{% url 'get_report_2' %}"
        let table_column_list = [
            {'id': 'department', 'name': 'Подразделение', 'filter': true},
            {'id': 'author', 'name': 'Автор', 'filter': true},
            {'id': 'addresses', 'name': 'Точек в базе', filter: false},
            {'id': 'worker', 'name': 'Исполнитель', 'filter': true},
            {'id': 'tasks', 'name': 'Количество задач', 'filter': false},
            {'id': 'ready_task', 'name': 'Выполнено задач', 'filter': false},
            {'id': 'active_task', 'name': 'В работе', 'filter': false},
            {'id': 'active_clients', 'name': 'Действующие торговые точки', 'filter': false},
            {'id': 'potential_clients', 'name': 'Потенциальные торговые точки', 'filter': false},
            {'id': 'contract', 'name': 'Договор', 'filter': false},
            {'id': 'amount_sum', 'name': 'Сумма отгрузки', 'filter': false},
        ]
        let depart = '{{ depart }}'
        let user_id = "{{ user.pk }}"
    </script>
    <script src="{% static 'js/analytics/director.js' %}"></script>
    <script src="{% static 'js/analytics/report_2.js' %}"></script>
{% endblock %}