        <div class="row m-3">
            {% if depart == 'b2c' %}
            <div class="form-check form-switch mb-3 col-lg-6">
                <input class="form-check-input" name="closing" type="checkbox" id="closeCheckbox" value="true" disabled>
                <label class="form-check-label" for="closeCheckbox">Точка не существует</label>
            </div>
            <div class="form-check form-switch mb-3 col-lg-6">
                <input class="form-check-input" type="checkbox" id="workCheckbox" disabled>
                <label class="form-check-label" for="workCheckbox">Уже работаем с точкой?</label>
            </div>
            {% elif depart == 'b2b' or 'industrial'%}
            <div class="form-check form-switch mb-3 col-lg-4">
                <input class="form-check-input" type="checkbox" id="workCheckbox" disabled>
                <label class="form-check-label" for="workCheckbox">Уже работаем с точкой?</label>
            </div>
            <div class="form-check form-switch mb-3 col-lg-4">
                <input class="form-check-input" name="not_communicate" type="checkbox" id="communicateCheckbox" value="true" disabled>
                <label class="form-check-label" for="communicateCheckbox">Нет коммуникации</label>
            </div>
            <div class="form-check form-switch mb-3 col-lg-4" id="closeDiv">
                <input class="form-check-input" name="closing" type="checkbox" id="closeCheckbox" value="true" disabled>
                <label class="form-check-label" for="workCheckbox">Точка не существует</label>
            </div>
        {% endif %}
        </div>

