<p class="text-center" style="margin-top: 41px ">Результаты встречи</p>
{#        <div class="mb-3" id="controlDiv" style="display: block">#}
{#                        <label for="controlId" class="form-label">Результат встречи</label>#}
{#            <select class="form-select mb-3" selected id="controlId" name="result"#}
{#                    aria-describedby="controlIdFeedbackk" data-url="{% url 'controls_list' %}" required>#}
{#                <option selected disabled value="">Укажите результаты встречи ...</option>#}
{#            </select>#}
{#            <div id="controlIdFeedback" class="invalid-feedback">Выберите результат встречи</div>#}
{#        </div>#}
{#        <div class="row mb-3" id="dateDiv" style="display: none">#}
{#            <label for="date" class="col-form-label">Контрольная дата</label>#}
{#            <div class="col-6">#}
{#                <div class="input-group date" id="datepicker">#}
{#                    <input type="text" name="control_date" class="form-control was-validated" id="date"/>#}
{#                    <span class="input-group-append" style="cursor: pointer">#}
{#                        <span class="input-group-text bg-light d-block">#}
{#                            <i class="fa fa-calendar"></i>#}
{#                        </span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="form-floating mb-3" id="resultCommentDivId" style="display: block;">
            <input class="form-control" id="resultCommentId" type="text" name="result_comment" placeholder="Комментарий к задаче?"
            aria-describedby="resultCommentFeedback" required>
            <label for="otherId">Комментарий к задаче</label>
            <div id="resultCommentFeedback" class="invalid-feedback">Напишите комментарий к задаче</div>
        </div>
