    <div class="mb-3">
{#        <label for="typeId" class="form-label">Укажите, является ли торговая точка сетью?</label>#}
        <select class="form-select mb-3" style="color: grey" name="federal" id="federal" aria-describedby="federalFeedback" required>
            <option selected disabled value="">Работают ли с федеральными компаниями?...</option>
            <option value="1">Да</option>
            <option value="0">Нет</option>
        </select>
        <div id="federalFeedback" class="invalid-feedback">
            Выберите корректный ответ.
        </div>
    </div>