        <input type="hidden" name="address_id" value="{{ address_id }}">
        <input type="hidden" name="depart" value="{{ depart }}">
        <input type="hidden" name="address" value="{{ city }}, {{ street }}, {{ house }}">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="guid" value="{{ guid }}">
        <input type="hidden" name="position" id="position" value="">