    <div class="mb-3" id="akbDiv" style="display: none">
        <label for="akbId" class="form-label">Специализированная точка по АКБ?</label>
        <select class="form-select mb-3" selected="" name="akb_specify" id="akbId" style="display: block;"
                aria-describedby="akbFeedback">
            <option selected disabled value="">Выберите...</option>
            <option value="1">Да</option>
            <option value="0">Нет</option>
        </select>
        <div id="akbFeedback" class="invalid-feedback">Выберите специализацию торговой точки по АКБ</div>
    </div>