    <div class="mb-3">
{#        <label for="typeId" class="form-label">Укажите, является ли торговая точка сетью?</label>#}
        <select class="form-select mb-3" style="color: grey" name="nets" id="typeId" aria-describedby="typeIdFeedback" required>
            <option selected disabled value="">Укажите, является ли торговая точка сетью?...</option>
            <option value="1">Да</option>
            <option value="0">Нет</option>
        </select>
        <div id="typeIdFeedback" class="invalid-feedback">
            Выберите корректный вид торговой точки.
        </div>
    </div>